/* You can add global styles to this file, and also import other style files */
@import './assets/variables';
body {
  background-color: #e4dede;
  color: $textColor;
}

/* import bootstrap */
$primary:       rgb(161, 7, 7) !default;
@import '~bootstrap/scss/bootstrap';

/* import ng-lib */
$main: #0f07a4 !default;
@import '@abo/ng-lib'
