@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI-BoldItalic.woff2") format("woff2"),
    url("./fonts/SegoeUI-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI.woff2") format("woff2"),
    url("./fonts/SegoeUI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI-SemiBold.woff2") format("woff2"),
    url("./fonts/SegoeUI-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI-Light.woff2") format("woff2"),
    url("./fonts/SegoeUI-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI-Bold.woff2") format("woff2"),
    url("./fonts/SegoeUI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI-Italic.woff2") format("woff2"),
    url("./fonts/SegoeUI-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
